<section id="admin" class="clearfix">
	<aside class="nav-panel">
	
		<div>
			<h1 style="color: white"><big>Admin</big></h1>
		</div>

		<ul>
			<li><a ng-click="ctrl.goHome()">Home</a></li>
			<li><a ui-sref="admin.dash">Products</a></li>
			<li><a ui-sref="admin.add_product">Add Product</a></li>
			<li><a ui-sref="admin.orders_list">Review Orders</a></li>
			<li><a ui-sref="admin.category">List Categories</a></li>
			<li><a ng-click="ctrl.logout()">Log Out</a></li>
		</ul>
	</aside>

	<article class="main-content">
		<div ui-view=""></div>
	</article>
</section>